<% include ../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <div id="mapid"></div>
        </div>
        <div class="col-md-9">
           <!-- cardbox -->
            <div class="card mb-3">
              <img class="card-img-top" src="<%= campground.image %>" alt="<%=campground.name%>">
              <div class="card-body">
                <p class="float-right"><spam>$<%=campground.price%></spam> / Night</p>
                <h5 class="card-title"><%=campground.name%></h5>
                   <p>
                <em>Submitted By <a href="/users/<%=campground.author.id %>"><%=campground.author.username%></a>, <%= moment(campground.createdAt).fromNow()%></em>
                    </p>
                <hr>   
                <p class="car-text"><%=campground.description%></p>
                    <% if((currentUser && campground.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
              </div>
             </div>
    <!-- Coments -->
            <div class="card">
                <div class="card-body">
                <div class="text-right">
                <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                <hr>
                </div>
                <% campground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12 mb-1" >
                        
                        <div class="float-left">
                        <p class="card-title"><strong><%= comment.author.username %></strong></p>
                         <p class="card-text">
                            <%= comment.text %> 
                        </p>
                        </div>
                        <div class="float-right">
                        <p><spam><%= moment(comment.createdAt).fromNow() %></spam></p>
                        <% if((currentUser && comment.author.id.equals(currentUser._id))||(currentUser && currentUser.isAdmin)){ %>
                        
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">
                            Edit
                        </a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                        </form>
                        </div>
                         
                        <% } %>
                    </div>
                 
                </div>
                <hr>
                <% }); %>
            </div>
        </div>
    </div>
</div>   
<script>
//Show the Map using a SCRIPT <3
   var lat = <%=campground.lat %>;
   var lng = <%=campground.lng %>;
   //Display Map
    var mymap = L.map('mapid').setView([lat, lng],13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap & OpenCage</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiaG90YXJ1IiwiYSI6ImNqbHRmYm1iMDA0bGczcXF2bjBiY3htZjQifQ.PBkoPSL2eMKDeMHgNUeQXg'
}).addTo(mymap);



// Markers Polylines poluygons circles and popups
var marker = L.marker([lat, lng]).addTo(mymap);
/*var circle = L.circle([51.508, -0.11], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 500
}).addTo(mymap);
var polygon = L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
]).addTo(mymap);
*/
// Informacion attach
marker.bindPopup("<b>Hello Buddy!</b><br><%=campground.name%> here.").openPopup();
/*circle.bindPopup("I am a circle.");
polygon.bindPopup("I am a polygon.");*/

</script>    
<% include ../partials/footer %>